<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="./gradeCard.css" />
  </head>
  <body class="grade-card">
    <div class="heading">
      <div class="logo">
        <img
          class="logo-img"
          src="https://www.logolynx.com/images/logolynx/0a/0ade42c723d39d5765f3934a62a12b70.jpeg"
          alt="iitkgp-logo"
        />
        <span>UDIS</span>
      </div>
      <div class="mid-text">
        <span class="span1">Interim Grade Card</span>
        <span class="span2">Indian Institute of Technology Kharagpur</span>
        <span class="span3"
          >Statement of grades obtained for all the semesters leading to the
          award of
        </span>
        <span class="span4"
          >Bachelor of Techlology (Honors) and Masters of Technology</span
        >
      </div>
      <div class="student-details">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png"
          alt=""
        />
        <span>Anish Datta</span>
        <span>21CS30006</span>
      </div>
    </div>

    <div class="content">
      <div class="semesters">
        <div class="semester-grades">
          <span class="semester-num">Semester 1</span>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Subno</th>
                <th scope="col">Name</th>
                <th scope="col">L-P-T</th>
                <th scope="col">Credits</th>
                <th scope="col">Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
          <span class="gpa">For semester 1: SGPA: 9.0, CGPA: 9.0</span>
        </div>

        <div class="semester-grades">
          <span class="semester-num">Semester 2</span>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Subno</th>
                <th scope="col">Name</th>
                <th scope="col">L-P-T</th>
                <th scope="col">Credits</th>
                <th scope="col">Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
          <span class="gpa">For semester 2: SGPA: 9.0, CGPA: 9.0</span>
        </div>
        <div class="semester-grades">
          <span class="semester-num">Semester 2</span>
          <table class="table table-striped-columns">
            <thead>
              <tr>
                <th scope="col">Subno</th>
                <th scope="col">Name</th>
                <th scope="col">L-P-T</th>
                <th scope="col">Credits</th>
                <th scope="col">Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
              <tr>
                <td>BS10003</td>
                <td>Science of Living Systems</td>
                <td>2-0-0</td>
                <td>2</td>
                <td>A</td>
              </tr>
            </tbody>
          </table>
          <span class="gpa">For semester 2: SGPA: 9.0, CGPA: 9.0</span>
        </div>
      </div>
      <div class="net-grade">
        <span>Upto Semester 2</span>
        <span>Total Credit Taken: 49</span>
        <span>Total Credit Cleared: 49</span>
        <span>CGPA: 9.69</span>
      </div>
    </div>
    <button class="download-gc">Download Grade Card</button>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://html2canvas.hertzen.com/dist/html2canvas.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      function CreatePDFfromHTML() {
        console.log(2);
        document.querySelector(".download-gc").style.display = "none";
        var HTML_Width = $(".grade-card").width();
        var HTML_Height = $(".grade-card").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + top_left_margin * 2;
        var PDF_Height = PDF_Width * 1.5 + top_left_margin * 2;
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

        html2canvas($(".grade-card")[0]).then(function (canvas) {
          var imgData = canvas.toDataURL("image/jpeg", 1.0);
          var pdf = new jsPDF("p", "pt", [PDF_Width, PDF_Height]);
          pdf.addImage(
            imgData,
            "JPG",
            top_left_margin,
            top_left_margin,
            canvas_image_width,
            canvas_image_height
          );
          for (var i = 1; i <= totalPDFPages; i++) {
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(
              imgData,
              "JPG",
              top_left_margin,
              -(PDF_Height * i) + top_left_margin * 4,
              canvas_image_width,
              canvas_image_height
            );
          }
          pdf.save("gradecard.pdf");
        });
        document.querySelector(".download-gc").style.display = "block";
      }

      document
        .querySelector(".download-gc")
        .addEventListener("click", function () {
          console.log(1);
          CreatePDFfromHTML();
        });
    </script>
    <script src="" async defer></script>
  </body>
</html>
