@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projects-publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects, .publications {
    width: 75%;
    margin-top: 3rem;
    background-color: antiquewhite;
    background: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    box-shadow: 0 0 30px #00000029;
}

.projects_heading, .publications_heading {
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #000364;
    position: relative;
}

.projects button, .publications button{
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    background-color: white;
    color: #000364;
    font-weight: 500;
    font-size: 1rem;
    border: 0px;
    padding: 0.3rem 1rem;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.projects h1, .publications h1 {
    /* width: calc(100% + 40px); */
    text-align: left;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.75rem;
}

.swiper-container {
    padding: 2rem;
}

.swiper {
    height: 500px;
    width: 100%;
}

.swiper-slide {
    padding: 30px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background-color: aliceblue;
}

.swiper-slide .professor {
    font-size: 16px;
    font-weight: 600;
}

.swiper-slide .project-name {
    font-size: 20px;
    color: #0006b9;
    font-weight: 600;
}

.swiper-slide p {
    font-size: 14px;
    text-align: left;
}

.swiper-slide img {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.publication-name{
    font-size: 20px;
    font-weight: 600;
}
.authors{
    font-size: 16px;
    font-weight: 400;
}
.publication-type{
    background-color: #0006b9;
    color: white;
    font-size: 16px;
    padding: 0.3rem 1rem;
    border-radius: 5rem;
}
.publication-place{
    font-size: 16px;
    font-weight: 500;
}
.publication-link{
    color: #0006b9;
    text-decoration: none;   
}

.publications .swiper-slide{
    gap: 20px
}